
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    font-size: 2em; /* Ajuste o tamanho da fonte conforme necess치rio */
    text-align: center; /* Centraliza o texto */
    margin: 20px; /* Ajuste a margem conforme necess치rio */
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-transform: uppercase;
}

ul.menu li {
    margin: 0 15px;
}

ul.menu li a {
    color: #fff;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 120px;
    background-color: #fafafa;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
}

.what {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* novo c칩digo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    transition: transform 0.3s ease-in-out;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links .dropdown-content a {
    padding: 12px 16px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-links .dropdown-content a:hover {
    background-color: #555;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .nav-links .dropdown-content {
        position: static;
        opacity: 1;
        transform: translateY(0);
    }

    .burger {
        display: block;
    }

    .nav-active {
        display: flex;
    }
}

/* fim do c칩digo*/


@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    ul.menu {
        display: none;
        flex-direction: column;
        background: #333;
        width: 100%;
    }

    ul.menu li {
        margin: 0;
    }

    ul.menu li a {
        padding: 10px;
        display: block;
        border-bottom: 1px solid #444;
    }

    .flex-container {
        padding: 20px;
        width: 80vw;
        margin: 20px;
    }

    h1 {
        font-size: 1.3em; /* Tamanho da fonte para telas menores */
    }
}

@media (max-width: 480px) {
    .whatsapp-button {
        bottom: 10px;
        right: 10px;
        padding: 8px;
    }

    .whatsapp-icon {
        width: 25px;
        height: 25px;
    }
}

.alerta{
    text-align: center;
    display: flexbox;
    background-color: #005E81;
    border-radius: 20px;
    color: #fff;
    
}

.alerta h2{
  
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    text-transform: uppercase;
}

.formatar{
    font-weight: bold;
    text-align: start;
    background-color: #305769;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
}
.what {
    position: fixed; bottom: 30px; right: 30px; z-index: 9999; ;
}

